In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("PalmeirasTest.csv")

In [6]:
df.head()

,Competição,Títulos,Temporadas
0,Copa Rio Internacional,1,1951
1,Copa Libertadores da América,2,"1999,2020"
2,Copa Mercosul,1,1998
3,Campeonato Brasileiro,10,"1960,1967,1967,1969,1972,1973,1993,1994,2016,2018"
4,Copa do Brasil,4,"1998,2012,2015,2020"